<% layout('layouts/admin') %>

<div class="container mb-5 pb-5">
  <h1 class="mb-3">Изменить вендора</h1>
  <a href="/admin/vendors" class="mb-2 btn btn-primary">Все вендоры</a>
  <div class="row mb-4">
    <div class="col">
      <form
        class="w-50 mx-auto"
        method="POST"
        action="/admin/vendors/update/<%= vendors.id %>"
        enctype="multipart/form-data"
      >
        <div class="form-group mb-4">
          <label for="name">Название</label>
          <input
            type="text"
            value="<%= vendors.name %>"
            class="form-control"
            id="name"
            name="name"
            aria-describedby="name"
            placeholder="Введите название"
          />
        </div>
        <div class="form-group mb-4">
          <label for="description">Описание</label>
          <textarea
            type="text"
            rows="4"
            class="form-control"
            name="description"
            id="description"
            placeholder="Введите описание"
          >
<%= vendors.description %></textarea
          >
        </div>
        <div class="form-group mb-4">
          <label for="officialSite">Официальный сайт</label>
          <input
            type="text"
            value="<%= vendors.officialSite %>"
            class="form-control"
            id="officialSite"
            name="officialSite"
            aria-describedby="officialSite"
            placeholder="Введите ссылку на официальный сайт"
          />
        </div>
        <div class="form-group mb-4">
          <label for="CompanyTag"
            >Тэги вендора (перечислисте через запятую)</label
          >
          <input
            type="text"
            value="<%= vendors.CompanyTag %>"
            class="form-control"
            id="CompanyTag"
            name="CompanyTag"
            aria-describedby="CompanyTag"
            placeholder="Введите тэги"
          />
        </div>
        <% if(vendors.imageUrl) { %>
        <p class="card-text">Текущее изображение:</p>
        <img
          width="300"
          src="/uploads/vendors/<%= vendors.imageUrl %>"
          alt="<%= vendors.imageUrl %>"
        />
        <% } %>
        <div class="form-group mb-4">
          <label for="vendorsImageUrl" class="form-label"
            >Загрузите изображение</label
          >
          <input
            class="form-control"
            type="file"
            id="vendorsImageUrl"
            name="vendorsImageUrl"
          />
        </div>
        <button type="submit" class="btn btn-primary">Обновить</button>
      </form>
    </div>
    <div class="blocks mt-5">
      <div class="blocks__title mb-4">
        <h2 class="mb-3">Блоки с товарами</h2>
        <form method="POST" action="/admin/vendors/blocks/add/<%= vendors.id %>" enctype="multipart/form-data">
          <button type="submit" class="btn btn-primary">Добавить блок</button>
        </form>
      </div>
      <div class="blocks__items">
        <% vendors.companyBlocks.forEach(block => { %>
        <div class="card px-4 py-2 blocks__item mb-4">
          <div class="card-body">
            <h2><%= block.title %></h2>
            <p><%= block.description %></p>
            <p>Ссылка: 
              <a href="<%= block.link %>"><%= block.link %></a>
            </p>
            <a href="/admin/vendors/<%= vendors.id %>/blocks/update/<%= block.id %>" class="card-link">Редактировать</a>
            <a href="/admin/vendors/<%= vendors.id %>/blocks/delete/<%= block.id %>" class="card-link text-danger">Удалить</a>
            <form class="mt-3" method="POST" action="/admin/vendors/<%= vendors.id %>/products/add/<%= block.id %>" enctype="multipart/form-data">
              <button type="submit" class="btn btn-primary">Добавить товар</button>
            </form>
            <ul class="list-group mt-3">
              <% block.products.forEach(product => { %>
              <li class="list-group-item pt-3 pb-3">
                <form action="/admin/vendors/<%= vendors.id %>/products/update/<%= product.id %>" method="POST" enctype="multipart/form-data">
                  <h5><%= product.title %></h5>
                  <div class="form-group mb-2">
                    <label for="productTitle">Название:</label>
                    <input
                      type="text"
                      value="<%= product.title %>"
                      class="form-control"
                      id="productTitle"
                      name="productTitle"
                      aria-describedby="productTitle"
                      placeholder="Введите название"
                    />
                  </div>
                  <div class="form-group mb-2">
                    <label for="productDescription">Описание:</label>
                    <textarea
                      type="text"
                      rows="4"
                      class="form-control"
                      id="productDescription"
                      name="productDescription"
                      aria-describedby="productDescription"
                      placeholder="Введите описание"
                    ><%= product.description %></textarea
                    >
                  </div>
                  <div class="form-group mb-2">
                    <label for="productProducts">Модельный ряд:</label>
                    <input
                      type="text"
                      value="<%= product.products %>"
                      class="form-control"
                      id="productProducts"
                      name="productProducts"
                      aria-describedby="productProducts"
                      placeholder="Введите товары"
                    />
                  </div>
                  <div class="form-group mb-2">
                    <label for="productLink">Ссылка:</label>
                    <input
                      type="text"
                      value="<%= product.link %>"
                      class="form-control"
                      id="productLink"
                      name="productLink"
                      aria-describedby="productLink"
                      placeholder="Введите товары"
                    />
                  </div>
                  <button type="submit" class="btn btn-primary">
                    Обновить
                  </button>
                  <a href="/admin/vendors/<%= vendors.id %>/products/delete/<%= product.id %>" class="btn btn-danger">Удалить</a>
                </form>
              </li>
              <% }) %>
            </ul>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>
