<% layout('layouts/main') %>

<section>
    <div class="wrapper">
        <div class="about">
            <h2 class="section-title" id="about__title">О компании</h2>
            <% for(item of info){ %>
            <% if(item.slug === 'big-desc-one' || item.slug === 'big-desc-two') {%>
                <p class="about__text"><%= item.value %></p>
            <% } else if(item.slug === 'mini-photo'){%>
                <img src="/uploads/about/<%= item.value %>" alt="<%= item.value %>" class="about__image">
            <% }} %>
            <!-- <p class="about__text">Повседневная практика показывает, что начало повседневной работы по формированию позиции играет важную роль в формировании существующих финансовых и административных условий. А ещё непосредственные участники технического прогресса рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Высокий уровень вовлечения представителей целевой аудитории является чётким доказательством простого факта: существующая теория позволяет выполнить важные задания по разработке экономической целесообразности принимаемых решений. Имеется спорная точка зрения, гласящая примерно следующее: ключевые особенности структуры проекта представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Таким образом, высокое качество позиционных исследований играет важную роль в формировании поставленных обществом задач.</p> -->
            <!-- <p class="about__text">Высокий уровень вовлечения представителей целевой аудитории является чётким доказательством простого факта: существующая теория позволяет выполнить важные задания по разработке экономической целесообразности принимаемых решений. Имеется спорная точка зрения, гласящая примерно следующее: ключевые особенности структуры проекта представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Таким образом, высокое качество позиционных исследований играет важную роль в формировании поставленных обществом задач.  Таким образом, высокое качество позиционных исследований играет важную роль в формировании поставленных обществом задач</p> -->
        </div>
    </div>
</section>

<div class="wrapper about-mainpic">
    <img src="/uploads/about/<%= info.find(item => item.slug === 'big-photo').value %>" alt="<%= info.find(item => item.slug === 'big-photo').value %>" id="about__image">
</div>

<section>
    <div class="wrapper">
        <h2 class="section-title">Выполненные кейсы</h2>
        <p class="section-description">Тут будут отображены выполненные кейсы (в разработке)</p>
    </div>
</section>