<% layout('layouts/main') %>

<section>
    <div class="wrapper">
        <div class="about">
            <h2 class="section-title" id="about__title">О компании</h2>
            <% for(item of info){ %>
            <% if(item.slug === 'big-desc-one' || item.slug === 'big-desc-two') {%>
                <p class="about__text"><%= item.value %></p>
            <% } else if(item.slug === 'mini-photo'){%>
                <img src="/uploads/about/<%= item.value %>" alt="<%= item.value %>" class="about__image">
            <% }} %>
            <!-- <p class="about__text">Повседневная практика показывает, что начало повседневной работы по формированию позиции играет важную роль в формировании существующих финансовых и административных условий. А ещё непосредственные участники технического прогресса рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Высокий уровень вовлечения представителей целевой аудитории является чётким доказательством простого факта: существующая теория позволяет выполнить важные задания по разработке экономической целесообразности принимаемых решений. Имеется спорная точка зрения, гласящая примерно следующее: ключевые особенности структуры проекта представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Таким образом, высокое качество позиционных исследований играет важную роль в формировании поставленных обществом задач.</p> -->
            <!-- <p class="about__text">Высокий уровень вовлечения представителей целевой аудитории является чётким доказательством простого факта: существующая теория позволяет выполнить важные задания по разработке экономической целесообразности принимаемых решений. Имеется спорная точка зрения, гласящая примерно следующее: ключевые особенности структуры проекта представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Таким образом, высокое качество позиционных исследований играет важную роль в формировании поставленных обществом задач.  Таким образом, высокое качество позиционных исследований играет важную роль в формировании поставленных обществом задач</p> -->
        </div>
    </div>
</section>

<div class="wrapper about-mainpic">
    <img src="/uploads/about/<%= info.find(item => item.slug === 'big-photo').value %>" alt="<%= info.find(item => item.slug === 'big-photo').value %>" id="about__image">
</div>

<div class="section">
    <div class="wrapper">
        <h2 class="section-title service__main-title">Сервис</h2>
        <div class="service">
            <p class="service__text">Оборудование лидирующих мировых производителей имеет заводскую гарантию, однако она ограничена, в силу того, что вендоры ушли с рынка РФ. 
                Здесь требуется участие поставщика - посредник заводит сервисную заявку у вендора и ведет сервисный кейс от имени заказчика. Основная проблема в этой схеме - сроки замены комплектующих. Ранее на территории РФ были склады с запчастями, теперь доставка осуществляется со складов в Азии и СНГ.
                Партнеры ИТ-Альянс могут воспользоваться дополнительным сервисными услугами компании:</p>
                <ol class="service__items">
                    <li class="service__item">
                        <h3 class="service__title">Расширенная техническая поддержка с различным уровенем SLA для оборудования Леново.</h3>
                        <ul class="service__list">
                            <li>Осуществляется силами сервисного партнера Леново</li>
                            <li>Высококвалифицированный штат инженеров</li>
                            <li>Собственный склад запчастей в РФ</li>
                            <li>Широкая география в т.ч. самого строгого уровня SLA</li>
                            <li>Пакетные и/или индивидуальное предложение</li>
                            <li>Скидки от объема</li>
                            <li>Продажа сервиса товарной позицией с НДС или договором услуг</li>
                            <li>Доступно для нового и для существующего оборудования</li>
                        </ul>
                    </li>
                    <li class="service__item">
                        <h3 class="service__title">Расширенная техническая поддержка с различным уровенем SLA для оборудования Huawei.</h3>
                    </li>
                    <li class="service__item">
                        <h3 class="service__title">Проектная поставка сервисных комплектующих: Lenovo, Dell/EMC, Cisco, IBM, HPE, NetApp, Hitachi</h3>
                    </li>
                    <li class="service__item">
                        <h3 class="service__title">Проектная поставка новых комплектующих и refurb по каналам, проверенных временем.</h3>
                    </li>
                <ol/>
        </div>
    </div>
</div>

<section>
    <div class="wrapper">
        <h2 class="section-title portfolio__main-title">Выполненные кейсы</h2>
        <div class="portfolio">
            <div class="vectors">
                <div class="vectors__body" id="body-1">
                  <div class="vectors__content">
                    <div class="portfolio__content">
                        <div class="portfolio__text">
                            <h3 class="portfolio__title">Компания А</h3>
                            <p class="portfolio__description">Повседневная практика показывает, что начало повседневной работы по формированию позиции играет важную роль в формировании существующих финансовых и административных условий. А ещё непосредственные участники технического прогресса рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.</p>
                        </div>
                        <div class="portfolio__doc">
                            <p>Ознакомиться с документом</p>
                            <a href="#" target="_blank" class="portfolio__download">
                                <img src="./img/download-white.svg" alt="">
                                <div>
                                    <p>Название документа</p>
                                    <p class="portfolio__file-weight">117 кб.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="portfolio__photo">
                        <img src="./img/advantages1.png" alt="advantages1">
                    </div>
                  </div>
                </div>
                <div class="vectors__body" id="body-2">
                  <div class="vectors__content">
                    Раздел в разработке
                  </div>
                </div>
                <div class="vectors__body" id="body-3">
                  <div class="vectors__content vectors__content_three">
                    <div class="vectors__content-text">
                        В разработке
                    </div>
                  </div>
                </div>
                <!-- <div class="vectors__header-line"></div> -->
                <div class="vectors__nav">
                  <input checked id="tab-btn-1" name="tab-btn" type="radio" value="">
                  <label class="vectors__nav-item" for="tab-btn-1">Компания А</label>
                  <input  id="tab-btn-2" name="tab-btn" type="radio" value="">
                  <label class="vectors__nav-item" for="tab-btn-2">Компания Б</label>
                  <input id="tab-btn-3" name="tab-btn" type="radio" value="">
                  <label class="vectors__nav-item" for="tab-btn-3">Компания В</label>
                </div>
                
              </div>
        </div>
    </div>
</section>