<% layout('layouts/main') %>

<main class="main-bg">
    <div class="wrapper">
      <div class="main">
        <h1 class="main__title">
          Надежная дистрибуция IT-оборудования для вашего бизнеса
        </h1>
        <p class="main__description">Компания современных бизнес-решений</p>
      </div>
    </div>
  </main>

  <div class="running-stroke">
    <div class="wrapper">
      <div class="my-swiper-wrapper">
        <div class="mySwiper-button-prev">
          <img src="./img/arrow.svg" alt="arrow" />
        </div>
        <div class="swiper swiper__customers">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
             <% for (customer of customers) { %>
            <div class="swiper-slide">
              <a target="_blank" href="<%= customer.officialSite %>">
                <img src="/uploads/customers/<%= customer.imageUrl %>" alt="<%= customer.imageUrl %>" />
              </a>
            </div>
            <% } %>
            <!-- <div class="swiper-slide">
              <img src="./img/suppliers1.png" alt="suppliers1" />
            </div> -->
          </div>
        </div>
        <div class="mySwiper-button-next">
          <img src="./img/arrow.svg" alt="arrow" />
        </div>
      </div>
    </div>
  </div>

  <!-- <section class="news-slider__animate">
    <div class="wrapper">
      <div class="news-slider">
        <div class="swiper swiper__news">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="news-slider__slide">
                <div class="news-slider__info">
                  <div class="news-slider__line-wrapper">
                    <p data-swiper-parallax="-750" class="news-slider__date">03.07</p>
                    <a href="#">
                      <h2 data-swiper-parallax="-1500" class="news-slider__title">
                        A4tech завершила пилотный проект по контролю
                        качества строительных работ с использованием
                        четырехопорных роботов в крупной добывающей компании.
                      </h2>
                    </a>
                  </div>
                </div>
              </div>
              <img
                class="news-slider__poster"
                src="./img/news-image.png"
                alt="news-image"
              />
            </div>
            <div class="swiper-slide">
              <div class="news-slider__slide">
                <div class="news-slider__info">
                  <div class="news-slider__line-wrapper">
                    <p data-swiper-parallax="-750" class="news-slider__date">03.07</p>
                    <h2 data-swiper-parallax="-1500" class="news-slider__title">
                      3Logic Group завершила пилотный проект по контролю
                      качества строительных работ с использованием
                      четырехопорных роботов в крупной добывающей компании.
                    </h2>
                  </div>
                </div>
              </div>
              <img
                class="news-slider__poster"
                src="./img/news-image.png"
                alt="news-image"
              />
            </div>
            <div class="swiper-slide">
              <div class="news-slider__slide">
                <div class="news-slider__info">
                  <div class="news-slider__line-wrapper">
                    <p data-swiper-parallax="-750" class="news-slider__date">03.07</p>
                    <h2 data-swiper-parallax="-1500" class="news-slider__title">
                      3Logic Group завершила пилотный проект по контролю
                      качества строительных работ с использованием
                      четырехопорных роботов в крупной добывающей компании.
                    </h2>
                  </div>
                </div>
              </div>
              <img
                class="news-slider__poster"
                src="./img/news-image.png"
                alt="news-image"
              />
            </div>
            <div class="swiper-slide">
              <div class="news-slider__slide">
                <div class="news-slider__info">
                  <div class="news-slider__line-wrapper">
                    <p data-swiper-parallax="-750" class="news-slider__date">03.07</p>
                    <h2 data-swiper-parallax="-1500" class="news-slider__title">
                      3Logic Group завершила пилотный проект по контролю
                      качества строительных работ с использованием
                      четырехопорных роботов в крупной добывающей компании.
                    </h2>
                  </div>
                </div>
              </div>
              <img
                class="news-slider__poster"
                src="./img/news-image.png"
                alt="news-image"
              />
            </div>
            <div class="swiper-slide">
              <div class="news-slider__slide">
                <div class="news-slider__info">
                  <div class="news-slider__line-wrapper">
                    <p data-swiper-parallax="-750" class="news-slider__date">03.07</p>
                    <h2 data-swiper-parallax="-1500" class="news-slider__title">
                      3Logic Group завершила пилотный проект по контролю
                      качества строительных работ с использованием
                      четырехопорных роботов в крупной добывающей компании.
                    </h2>
                  </div>
                </div>
              </div>
              <img
                class="news-slider__poster"
                src="./img/news-image.png"
                alt="news-image"
              />
            </div>
            <div class="swiper-slide">
              <div class="news-slider__slide">
                <div class="news-slider__info">
                  <div class="news-slider__line-wrapper">
                    <p data-swiper-parallax="-750" class="news-slider__date">03.07</p>
                    <h2 data-swiper-parallax="-1500" class="news-slider__title">
                      3Logic Group завершила пилотный проект по контролю
                      качества строительных работ с использованием
                      четырехопорных роботов в крупной добывающей компании.
                    </h2>
                  </div>
                </div>
              </div>
              <img
                class="news-slider__poster"
                src="./img/news-image.png"
                alt="news-image"
              />
            </div>
            <div class="swiper-slide">
              <div class="news-slider__slide">
                <div class="news-slider__info">
                  <div class="news-slider__line-wrapper">
                    <p data-swiper-parallax="-750" class="news-slider__date">03.07</p>
                    <h2 data-swiper-parallax="-1500" class="news-slider__title">
                      3Logic Group завершила пилотный проект по контролю
                      качества строительных работ с использованием
                      четырехопорных роботов в крупной добывающей компании.
                    </h2>
                  </div>
                </div>
              </div>
              <img
                class="news-slider__poster"
                src="./img/news-image.png"
                alt="news-image"
              />
            </div>
          </div>
        </div>
        <div class="news-slider__thumbs">
          <div class="swiper swiper__news-thumbs">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img
                  class="news__poster"
                  src="./img/news-image.png"
                  alt="news-image"
                />
              </div>
              <div class="swiper-slide">
                <img
                  class="news__poster"
                  src="./img/news-image.png"
                  alt="news-image"
                />
              </div>
              <div class="swiper-slide">
                <img
                  class="news__poster"
                  src="./img/news-image.png"
                  alt="news-image"
                />
              </div>
              <div class="swiper-slide">
                <img src="./img/news-image.png" alt="news-image" />
              </div>
              <div class="swiper-slide">
                <img src="./img/news-image.png" alt="news-image" />
              </div>
              <div class="swiper-slide">
                <img src="./img/news-image.png" alt="news-image" />
              </div>
              <div class="swiper-slide">
                <img src="./img/news-image.png" alt="news-image" />
              </div>
            </div>
            
          </div>
        </div>
        <div class="news-slider__thumbs-button-prev"></div>
        <div class="news-slider__thumbs-button-next"></div>
      </div>
    </div>
  </section> -->

  <section>
    <div class="wrapper">
      <div class="marketing">
        <div class="marketing__header">
          <h2 class="marketing__title">IT alliance<br />company</h2>
          <img class="marketing__poster" src="./img/it-alliance.png" alt="it-alliance">
        </div>
        <div class="marketing__info">
            <% for(item of info) { %>
              <% if(item.slug === 'mini-description') {%>
                <p><%= item.value %></p>
              <% }} %>
          <div class="btn_wrapper">
            <a class="btn btn_outline" href="/about">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="wrapper">
      <div class="our-vendors">
        <h2 class="section-title our-vendors__title">Наши вендоры</h2>
        <div class="our-vendors__companies">
          <% vendors.forEach(function(item){  %>
          <div class="our-vendors__company">
            <a href="/vendors/<%= item.slug %>">
              <div class="our-vendors__company-image">
                <img src="/uploads/vendors/<%= item.imageUrl %>" alt="company-image">
              </div>
              <div class="our-vendors__company-button">
                <p>Подробнее</p>
              </div>
            </a>
          </div>
          <% }) %>
          <!-- <div class="our-vendors__company">
            <a href="#">
              <div class="our-vendors__company-image">
                <img src="./img/suppliers1.png" alt="company-image">
              </div>
              <div class="our-vendors__company-button">
                <p>Подробнее</p>
              </div>
            </a>
          </div>
          <div class="our-vendors__company">
            <a href="#">
              <div class="our-vendors__company-image">
                <img src="./img/suppliers1.png" alt="company-image">
              </div>
              <div class="our-vendors__company-button">
                <p>Подробнее</p>
              </div>
            </a>
          </div> -->
        </div>
        <p class="our-vendors__info">
          Мы стремимся  предлагать своим клиентам  лучшие решения и технологии, поэтому  мы  сотрудничаем  с ведущими  вендорами  в своей области. Наши партнеры - это  компании, которые  делят наши  ценности и  стремятся  к  безупречному качеству.
        </p>
        <div class="btn_wrapper">
          <a class="btn btn_outline" href="/vendors">Все вендоры</a>
        </div>
      </div>
    </div>
  </section>