<% layout('layouts/main') %>

<main class="main-bg">
    <div class="wrapper">
      <div class="main">
        <h1 class="main__title">
          Надежная дистрибуция IT-оборудования для вашего бизнеса
        </h1>
        <p class="main__description">Компания современных бизнес-решений</p>
      </div>
    </div>
  </main>

  <div class="running-stroke">
    <div class="wrapper">
      <div class="my-swiper-wrapper">
        <div class="mySwiper-button-prev">
          <img src="./img/line-arrow.svg" alt="arrow" />
        </div>
        <div class="swiper swiper__customers">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
             <% for (customer of customers) { %>
            <div class="swiper-slide">
              <a target="_blank" href="<%= customer.officialSite %>">
                <img src="/uploads/customers/<%= customer.imageUrl %>" alt="<%= customer.imageUrl %>" />
              </a>
            </div>
            <% } %>
            <!-- <div class="swiper-slide">
              <img src="./img/suppliers1.png" alt="suppliers1" />
            </div> -->
          </div>
        </div>
        <div class="mySwiper-button-next">
          <img src="./img/line-arrow.svg" alt="arrow" />
        </div>
      </div>
    </div>
  </div>

  <section>
    <div class="wrapper">
      <div class="vectors-bg">
        <h2 class="section-title">Основные направления деятельности</h2>
        <div class="vectors">
          <div class="vectors__body" id="body-1">
            <div class="vectors__content vectors__content_first">
              <div class="vectors__content-text">
                  <h3>Серверное оборудование</h3>
                  <p>Серверы мировых производителей</p>
                  <ul>
                    <li><a href="vendors/dell#Серверы">Dell</a></li>
                    <li><a href="vendors/hp#Серверы">HP</a></li>
                    <li><a href="vendors/huawei#Серверы">Huawei</a></li>
                    <li><a href="vendors/lenovo#Серверы">Lenovo</a></li>
                  </ul>
                  <p>Импортозамещение</p>
                  <ul>
                    <li><a href="vendors/depo#Серверы%20DEPO">Depo</a></li>
                    <li><a href="vendors/qtech#Серверное%20оборудование">Qtech</a></li>
                    <li><a href="vendors/nebo%20systems#Серверы">NEBO Systems</a></li>
                  </ul>
              </div>
              <div class="vectors__line"></div>
              <div class="vectors__content-text">
                  <h3>Системы хранения данных</h3>
                  <p>СХД ведущих производителей</p>
                  <ul>
                    <li><a href="vendors/dell#СХД">Dell</a></li>
                    <li><a href="vendors/hp#СХД">HP</a></li>
                    <li><a href="vendors/huawei#СХД">Huawei</a></li>
                    <li><a href="vendors/lenovo#СХД">Lenovo</a></li>
                  </ul>
                  <p>СХД Российских производителей</p>
                  <ul>
                    <li><a href="vendors/depo#СХД">Depo</a></li>
                    <li><a href="vendors/nebo%20systems#СХД">NEBO Systems</a></li>
                  </ul>
              </div>
              <div class="vectors__line"></div>
              <div class="vectors__content-text">
                  <h3>Сетевое оборудование</h3>
                  <p>Оборудование лидеров рынка</p>
                  <ul>
                    <li><a href="vendors/cisco">Cisco</a></li>
                    <li><a href="vendors/juniper">Juniper</a></li>
                    <li><a href="vendors/huawei">Huawei</a></li>
                    <li><a href="vendors/brocade">Brocade</a></li>
                  </ul>
                  <p>Телекоммуникационное оборудование<br />ТОРП</p>
                  <ul>
                    <li><a href="vendors/qtech#Ethernet%20коммутаторы">Qtech</a></li>
                  </ul>
              </div>
            </div>
          </div>
          
          <div class="vectors__body" id="body-2">
            <div class="vectors__content">
              Раздел в разработке
            </div>
          </div>
          <div class="vectors__body" id="body-3">
            <div class="vectors__content vectors__content_three">
              <div class="vectors__content-text">
                <p>Оборудование лидирующих мировых производителей имеет заводскую гарантию, однако она ограничена, в силу того, что вендоры ушли с рынка РФ. 
                  Здесь требуется участие поставщика - посредник заводит сервисную заявку у вендора и ведет сервисный кейс от имени заказчика. Основная проблема в этой схеме - сроки замены комплектующих. Ранее на территории РФ были склады с запчастями, теперь доставка осуществляется со складов в Азии и СНГ.
                  </p>
                <p>Партнеры ИТ-Альянс могут воспользоваться дополнительным сервисными услугами компании:</p>
                  <ul>
                    <li>Расширенная техническая поддержка с различным уровенем SLA для оборудования Lenovo.</li>
                    <li>Расширенная техническая поддержка с различным уровенем SLA для оборудования Huawei.</li>
                    <li>Проектная поставка сервисных комплектующих: Lenovo, Dell/EMC, Cisco, IBM, HPE, NetApp, Hitachi</li>
                    <li>Проектная поставка новых комплектующих и refurb по каналам, проверенных временем.</li>
                  </ul>
              </div>
              
            </div>
          </div>
          <div class="vectors__header-line"></div>
          <div class="vectors__nav">
            <input checked id="tab-btn-1" name="tab-btn" type="radio" value="">
            <label class="vectors__nav-item" for="tab-btn-1">Поставка IT-Оборудования</label>
            <input id="tab-btn-2" name="tab-btn" type="radio" value="">
            <label class="vectors__nav-item" for="tab-btn-2">Системная интеграция</label>
            <input id="tab-btn-3" name="tab-btn" type="radio" value="">
            <label class="vectors__nav-item" for="tab-btn-3">Сервис</label>
          </div>
          
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="news-slider__animate">
    <div class="wrapper">
      <div class="news-slider">
        <div class="swiper swiper__news">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="news-slider__slide">
                <div class="news-slider__info">
                  <div class="news-slider__line-wrapper">
                    <p data-swiper-parallax="-750" class="news-slider__date">03.07</p>
                    <a href="#">
                      <h2 data-swiper-parallax="-1500" class="news-slider__title">
                        A4tech завершила пилотный проект по контролю
                        качества строительных работ с использованием
                        четырехопорных роботов в крупной добывающей компании.
                      </h2>
                    </a>
                  </div>
                </div>
              </div>
              <img
                class="news-slider__poster"
                src="./img/news-image.png"
                alt="news-image"
              />
            </div>
            <div class="swiper-slide">
              <div class="news-slider__slide">
                <div class="news-slider__info">
                  <div class="news-slider__line-wrapper">
                    <p data-swiper-parallax="-750" class="news-slider__date">03.07</p>
                    <h2 data-swiper-parallax="-1500" class="news-slider__title">
                      3Logic Group завершила пилотный проект по контролю
                      качества строительных работ с использованием
                      четырехопорных роботов в крупной добывающей компании.
                    </h2>
                  </div>
                </div>
              </div>
              <img
                class="news-slider__poster"
                src="./img/news-image.png"
                alt="news-image"
              />
            </div>
            <div class="swiper-slide">
              <div class="news-slider__slide">
                <div class="news-slider__info">
                  <div class="news-slider__line-wrapper">
                    <p data-swiper-parallax="-750" class="news-slider__date">03.07</p>
                    <h2 data-swiper-parallax="-1500" class="news-slider__title">
                      3Logic Group завершила пилотный проект по контролю
                      качества строительных работ с использованием
                      четырехопорных роботов в крупной добывающей компании.
                    </h2>
                  </div>
                </div>
              </div>
              <img
                class="news-slider__poster"
                src="./img/news-image.png"
                alt="news-image"
              />
            </div>
            <div class="swiper-slide">
              <div class="news-slider__slide">
                <div class="news-slider__info">
                  <div class="news-slider__line-wrapper">
                    <p data-swiper-parallax="-750" class="news-slider__date">03.07</p>
                    <h2 data-swiper-parallax="-1500" class="news-slider__title">
                      3Logic Group завершила пилотный проект по контролю
                      качества строительных работ с использованием
                      четырехопорных роботов в крупной добывающей компании.
                    </h2>
                  </div>
                </div>
              </div>
              <img
                class="news-slider__poster"
                src="./img/news-image.png"
                alt="news-image"
              />
            </div>
            <div class="swiper-slide">
              <div class="news-slider__slide">
                <div class="news-slider__info">
                  <div class="news-slider__line-wrapper">
                    <p data-swiper-parallax="-750" class="news-slider__date">03.07</p>
                    <h2 data-swiper-parallax="-1500" class="news-slider__title">
                      3Logic Group завершила пилотный проект по контролю
                      качества строительных работ с использованием
                      четырехопорных роботов в крупной добывающей компании.
                    </h2>
                  </div>
                </div>
              </div>
              <img
                class="news-slider__poster"
                src="./img/news-image.png"
                alt="news-image"
              />
            </div>
            <div class="swiper-slide">
              <div class="news-slider__slide">
                <div class="news-slider__info">
                  <div class="news-slider__line-wrapper">
                    <p data-swiper-parallax="-750" class="news-slider__date">03.07</p>
                    <h2 data-swiper-parallax="-1500" class="news-slider__title">
                      3Logic Group завершила пилотный проект по контролю
                      качества строительных работ с использованием
                      четырехопорных роботов в крупной добывающей компании.
                    </h2>
                  </div>
                </div>
              </div>
              <img
                class="news-slider__poster"
                src="./img/news-image.png"
                alt="news-image"
              />
            </div>
            <div class="swiper-slide">
              <div class="news-slider__slide">
                <div class="news-slider__info">
                  <div class="news-slider__line-wrapper">
                    <p data-swiper-parallax="-750" class="news-slider__date">03.07</p>
                    <h2 data-swiper-parallax="-1500" class="news-slider__title">
                      3Logic Group завершила пилотный проект по контролю
                      качества строительных работ с использованием
                      четырехопорных роботов в крупной добывающей компании.
                    </h2>
                  </div>
                </div>
              </div>
              <img
                class="news-slider__poster"
                src="./img/news-image.png"
                alt="news-image"
              />
            </div>
          </div>
        </div>
        <div class="news-slider__thumbs">
          <div class="swiper swiper__news-thumbs">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img
                  class="news__poster"
                  src="./img/news-image.png"
                  alt="news-image"
                />
              </div>
              <div class="swiper-slide">
                <img
                  class="news__poster"
                  src="./img/news-image.png"
                  alt="news-image"
                />
              </div>
              <div class="swiper-slide">
                <img
                  class="news__poster"
                  src="./img/news-image.png"
                  alt="news-image"
                />
              </div>
              <div class="swiper-slide">
                <img src="./img/news-image.png" alt="news-image" />
              </div>
              <div class="swiper-slide">
                <img src="./img/news-image.png" alt="news-image" />
              </div>
              <div class="swiper-slide">
                <img src="./img/news-image.png" alt="news-image" />
              </div>
              <div class="swiper-slide">
                <img src="./img/news-image.png" alt="news-image" />
              </div>
            </div>
            
          </div>
        </div>
        <div class="news-slider__thumbs-button-prev"></div>
        <div class="news-slider__thumbs-button-next"></div>
      </div>
    </div>
  </section> -->
  <section>
    <div class="wrapper">
      <div class="our-vendors">
        <h2 class="section-title our-vendors__title">Наши вендоры</h2>
        <div class="our-vendors__companies">
          <% vendors.forEach(function(item){  %>
          <!-- <div class="our-vendors__company"> -->
            <a class="our-vendors__company" href="/vendors/<%= item.slug %>">
              <div class="our-vendors__company-image">
                <img src="/uploads/vendors/<%= item.imageUrl %>" alt="company-image">
              </div>
              <div class="our-vendors__company-button">
                <p>Подробнее</p>
              </div>
            </a>
          <!-- </div> -->
          <% }) %>
          <!-- <div class="our-vendors__company">
            <a href="#">
              <div class="our-vendors__company-image">
                <img src="./img/suppliers1.png" alt="company-image">
              </div>
              <div class="our-vendors__company-button">
                <p>Подробнее</p>
              </div>
            </a>
          </div>
          <div class="our-vendors__company">
            <a href="#">
              <div class="our-vendors__company-image">
                <img src="./img/suppliers1.png" alt="company-image">
              </div>
              <div class="our-vendors__company-button">
                <p>Подробнее</p>
              </div>
            </a>
          </div> -->
        </div>
        <p class="our-vendors__info">
          Мы стремимся  предлагать своим клиентам  лучшие решения и технологии, поэтому  мы  сотрудничаем  с ведущими  вендорами  в своей области. Наши партнеры - это  компании, которые  делят наши  ценности и  стремятся  к  безупречному качеству.
        </p>
        <div class="btn_wrapper our-vendors__btn">
          <a class="btn btn_outline" href="/vendors">Все вендоры</a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="wrapper">
      <div class="advantages">
        <h2 class="section-title">Наши преимущества</h2>
        <p class="section-description">ИТ-Альянс имеет прямые контракты поставки.</p>
        <div class="advantages__items">
          <div class="advantages__item">
            <div class="advantages__counter">1</div>
            <div class="advantages__image">
              <img src="/img/advantages1.png" alt="advantages1">
            </div>
            <p class="advantages__text">Профессиональная команда</p>
          </div>
          <div class="advantages__item">
            <div class="advantages__counter">2</div>
            <div class="advantages__image">
              <img src="/img/advantages2.png" alt="advantages2">
            </div>
            <p class="advantages__text">Проверенные решения</p>
          </div>
          <div class="advantages__item">
            <div class="advantages__counter">3</div>
            <div class="advantages__image">
              <img src="/img/advantages3.png" alt="advantages3">
            </div>
            <p class="advantages__text">Надёжные поставщики и&nbsp;производители</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="wrapper">
      <div class="marketing">
        <div class="marketing__header">
          <h2 class="marketing__title">IT alliance<br />company</h2>
          <img class="marketing__poster" src="./img/it-alliance-new.png" alt="it-alliance">
        </div>
        <div class="marketing__info">
            <% for(item of info) { %>
              <% if(item.slug === 'mini-description') {%>
                <p><%= item.value %></p>
              <% }} %>
          <div class="btn_wrapper">
            <a class="btn btn_outline" href="/about">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="/js/animationObserver.js"></script>